<div class="card text-center m-lg-4 bg-success text-black" style="border-radius:25px; border-color:palegreen; border-width: 2px;">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="row bd-example m-0 border-0">
                <span class="col-auto me-1 badge rounded-pill bg-danger">Hot 🔥</span>
                <span class="col-auto me-1 badge rounded-pill bg-danger">New ❗</span>
                <span class="col-auto me-1 badge rounded-pill bg-warning text-dark">Alien</span>
            </div>
            <div class="col-3 text-start">
                <a href="#" style="border: hidden; border-radius:10px;" class="btn btn-outline-danger">❤</a>
                <div class="text-black fw-bold align-items-center">10232</div>
            </div>
            <div class="col-6 fw-bold">
                <h3>Topic Haed Line</h3>
                <div class="align-items-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        View
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4">.col-md-4</div>
                                            <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
                                            <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                Level 1: .col-sm-9
                                                <div class="row">
                                                    <div class="col-8 col-sm-6">
                                                        Level 2: .col-8 .col-sm-6
                                                    </div>
                                                    <div class="col-4 col-sm-6">
                                                        Level 2: .col-4 .col-sm-6
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-body-secondary text-end">
                <div class="col">
                    <div><span style="font-size:12px">😀</span><a href="#" style="color:black">chukka</a></div>
                    <div>
                        2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
