@model Blog_Management_System.ViewModels.HomeViewModels
<nav class="navbar bg-body-tertiary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand text-primary " href="/">Chukka blog</a>
        @if (Model is null || Model.User is null)
        {
            <form asp-action="Login" method="post" role="form" class="d-flex">
                <div class="input-group">
                    <span class="input-group-text bg-success" id="basic-addon1">👽</span>
                    <input name="username" class="form-control" placeholder="Username">
                    <button class="btn btn-success" type="submit">Login</button>
                </div>
            </form>
        }
        else
        {
            <form asp-action="Logout" role="form" class="d-flex">
                <div class="input-group">
                    <span class="input-group-text bg-success border-0" id="basic-addon1">👽<strong> @Model.User.Username</strong></span>
                    <button class="btn btn-warning border-0" type="submit">❌</button>
                </div>
            </form>
        }
    </div>

</nav>
