<nav class="navbar bg-body-tertiary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand text-primary " href="/">Chukka blog</a>
        <form class="d-flex">
            <div class="input-group">
                <span class="input-group-text bg-success" id="basic-addon1">👽</span>
                <input class="form-control" type="text" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
        </form>
    </div>
</nav>
