<nav class="navbar bg-body-tertiary bg-black mb-4">
    <div class="container-fluid">
        <a class="navbar-brand text-primary " href="/">Chukka blog</a>
        @*@await Component.InvokeAsync("UserDisplay")*@
        <vc:user-display></vc:user-display>
    </div>
</nav>