<div class="container">
    <form id="filterForm" asp-action="FilterTags" method="post">
        <div class="row justify-content-center mb-3">
                <div class="mb-3">Statuses & Categories</div>
            <div class="col-lg-4 col-auto text-start">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button">
                    <input name="tagFilters" value="Hot" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-danger" for="btncheck1">Hot</label>

                    <input name="tagFilters" value="New" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                    <label class="btn btn-outline-danger" for="btncheck2">New</label>

                    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" disabled>
                    <label class="btn btn-outline-danger disabled" for="btncheck2">..</label>
                </div>
            </div>

            <div class="col-lg-8 col-auto text-end">
                <div class="mb-3 text-start" hidden></div>
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button">
                    <input name="tagFilters" value="Alien" type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btncheck3">Alien</label>

                    <input name="tagFilters" value="UFO" type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btncheck4">UFO</label>

                    <input name="tagFilters" value="Dog" type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btncheck5">Dog</label>

                    <input name="tagFilters" value="Cat" type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btncheck6">Cat</label>

                    <input name="tagFilters" value="Nasa" type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btncheck7">Nasa</label>

                    <input name="tagFilters" value="Zombie" type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btncheck8">Zombie</label>
                </div>
                <button id="submitButton" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </form>
    <a asp-controller="Home"
       asp-action="CreateForum"
       type="button"
       class="btn btn-success text-uppercase text-black border-1 border-white">
        <strong>Create</strong>
    </a>
</div>