<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 ">
        <div class="mb-3">Statuses</div>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-danger" for="btncheck1">Hot 🔥</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-danger" for="btncheck2">New ❗</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" disabled>
                <label class="btn btn-outline-danger disabled" for="btncheck2">unread</label>
            </div>
        </div>

        <div class="col-lg-6  text-end">
            <div class="mb-3 text-end">Categories</div>            
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button">
                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-warning" for="btncheck3">Alien</label>

                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                <label class="btn btn-outline-warning" for="btncheck4">UFO</label>

                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                <label class="btn btn-outline-warning" for="btncheck5">Dog</label>

                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                <label class="btn btn-outline-warning" for="btncheck6">Cat</label>

                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                <label class="btn btn-outline-warning" for="btncheck7">Nasa</label>

                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                <label class="btn btn-outline-warning" for="btncheck8">Zombie</label>
            </div>
        </div>
    </div>
</div>