@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            @{
                <partial name="_StatusAndCategory" />
            }
        </div>
        <div class="col-lg-8">
            @{
                <partial name="_Forum" />
            }
        </div>
    </div>   

</div>